# RabbitMQ (docker-compose)
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=dsid
RABBITMQ_PASSWORD=dsid123
RABBITMQ_MANAGEMENT_URL=http://localhost:15672
RABBITMQ_ENABLED=0

# ADM
ADM_TRACKERS=rastreador-1,rastreador-2
ADM_SUPPORT_URLS=
